*{ box-sizing: border-box;}
html{
    direction: rtl;
}
body{
    background-color: #f2efef;
    margin: 0;
}
.conatiner{
    width: 80%;
    margin-left: auto !important; 
    margin-right: auto !important;
}
#header{
    background-color: #fff;
}
.header-top{
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}
.logo{
    width: 130px;
    height: 100px;
}
.header-nav{
    padding: 5px 0;
}

.page-header{
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
}
.page-title{
    margin: 0;
}
.banner{
    margin-bottom: 10px;
}
.banner-image{
    width: 100%;
    border-radius: 5px;
}

.main-content{
    background-color: #fff;
}