* {
  box-sizing: border-box;
}
html {
  direction: rtl;
}
body {
  background-color: #f2efef;
  margin: 0;
}
.conatiner {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}
#header {
  background-color: #fff;
}
.header-top {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}
.logo {
  width: 130px;
  height: 100px;
}
.header-nav {
  padding: 5px 0;
  height: 50px;
}

.page-header {
  background-color: #fff;
  margin: 20px 0;
  border-radius: 5px;
  padding: 10px;
}
.page-title {
  margin: 0;
}
.banner {
  margin-bottom: 10px;
}
.banner-image {
  width: 100%;
  border-radius: 5px;
}

.main-content {
  /* background-color: #fff; */
}

/****************/
.nav-link {
  text-decoration: none;
  color: black;
  display: block;
  float: right;
  padding: 10px 20px;
}

.row {
  overflow: auto;
}
.item {
  width: 50%;
  float: right;
  /* background-color: yellow; */
  padding: 10px;
}
.item-wrapper {
  background-color: #fff;
  padding: 20px;
}
/********************/

.taghvim{
  border-bottom: 1px solid #cccccc;
  margin: 50px 0;
  text-align: center;
}
.taghvim-link{
  text-decoration: none;
  color: black;
  background-color: #fff;
  font-size: 30px;
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0 ;
}

/***************/
.w-50{
  width: 50%;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.article{
  padding: 5px;
  
  float: right;
}
.article-title{
  margin: 0;

}
.article-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.image-1{
  background-image: url('/images/YXrPEd878g3Udf6z.jpeg');
  height: 410px;
}
.image-2{
  background-image: url('/images/4s5Xxr5V7mG4n7IA.jpeg');
  height: 200px;
}
.image-3{
  background-image: url('/images/6tk96fTg16kZ26qM.jpeg');
  height: 200px;
}
.image-4{
  background-image: url('/images/6Wri11SgO84hM4Ff.jpeg');
  height: 200px;
}
.image-5{
  background-image: url('/images/vyOivK4tY1yWSVcD.jpeg');
  height: 200px;
}